# Backend secrets
Backend/Ecomm.Api/appsettings.json
Backend/Ecomm.Api/appsettings.Development.json

# .NET
Backend/**/bin
Backend/**/obj

# Frontend
Frontend/node_modules
Frontend/dist
Frontend/.env

# IDE
.vscode
.idea
# =========================
# Build results
# =========================
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# =========================
# Visual Studio files
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build output
# =========================
*.dll
*.exe
*.pdb
*.cache
*.log


# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs & temp
# =========================
*.tmp
*.temp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Publish output
# =========================
publish/
*.publishsettings

# =========================
# Test results
# =========================
TestResults/
coverage/

